.regular-clients__title {
    text-align: center;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}

.regular-clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regular-clients__item:not(:last-child) {
    margin-right: 30px;
}

.regular-clients__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
 
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms var(--timing-function);

    &:hover {
        color: var(--accent-color);
        border: 1px solid #2196F3;
        border-radius: 4px;
    }
}

.regular-clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}